<%= form_for(@lote) do |f| %>
  <% if @lote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lote.errors.count, "error") %> prohibited this lote from being saved:</h2>

      <ul>
      <% @lote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :operadora %><br>
    <%= f.collection_select(:operadora_id, Operadora.all, :id, :nome)%>
  </div>  
  <div class="field">
    <%= f.label :encarregado %><br>
    <%= f.collection_select(:encarregado_id, Funcionario.all, :id, :nome)%>
  </div>
  <div class="field">
    <%= f.label :quantidade_cartoes %><br>
    <%= f.number_field :quantidade_cartoes %>
  </div>
  <div class="field">
    <%= f.label :quantidade_kits %><br>
    <%= f.number_field :quantidade_kits %>
  </div>
  <div class="field">
    <%= f.label :data_entrada %><br>
    <%= f.date_field :data_entrada %>
  </div>
  <div class="field">
    <%= f.label :data_entrega %><br>
    <%= f.date_field :data_entrega %>
  </div>
  <div class="field">
    <%= f.label :data_inicio %><br>
    <%= f.date_field :data_inicio %>
  </div>
  <div class="field">
    <%= f.label :data_termino %><br>
    <%= f.date_field :data_termino %>
  </div>  
  <div class="field">
    <%= f.label :prioridade %><br>
    <%= f.check_box :prioridade %>
  </div>
  <div class="actions">
    <%= f.submit %>    
  </div>
<% end %>
