<table class="table-relatorio" border="1">
  <tr>
    <td>       
      <%= image_tag("#{Rails.root}/app/assets/images/logo_relatorio.jpg") %>      
    </td>
    <td>
      <h2>ACOMPANHAMENTO DE PRODUÇÃO SERICARD ONLINE</h2>
    </td>
  </tr>
<table>



<table class="table-relatorio" border="1">

  <tr>
    <td>PRODUTO:</td>
    <td colspan="3"><%= @lote.operadora.nome %></td>
  </tr>

  <tr>
    <td>MOVIMENTO:</td>
    <td></td>
    <td>DATA OP:</td>
    <td></td>
  </tr>

  <tr>
    <td>DATA DO ARQUIVO:</td>
    <td></td>
    <td>QUANTIDADE CARTÕES:</td>
    <td><%= @lote.quantidade_cartoes %></td>
  </tr>
  
  <tr>
    <td>LOTE:</td>
    <td><%= @lote.codigo %></td>
    <td>QUANTIDADE KITS:</td>
    <td><%= @lote.quantidade_kits %></td>
  </tr>

  <tr>
    <td>FUNCIONÁRIO:</td>
    <td><%= @lote.encarregado.nome %></td>
    <td>DATA DO MOVIMENTO:</td>
    <td><%= @lote.data_entrada.strftime("%d/%m/%Y") %></td>
  </tr>

  <tr>
    <td>OP</td>
    <td><%= @lote.created_at.strftime("%d/%m/%Y") %></td>
    <td>DATA DE ENTREGA:</td>
    <td><%= @lote.data_entrega.strftime("%d/%m/%Y") %></td>
  </tr>
  
  <tr>
    <td>DATA INÍCIO:</td>
    <td><%= @lote.data_inicio.strftime("%d/%m/%Y") if @lote.data_inicio %></td>
    <td>DATA TÉRMINO:</td>
    <td><%= @lote.data_termino.strftime("%d/%m/%Y") if @lote.data_termino %></td>
  </tr>

  <tr>
    <td>HORÁRIO INÍCIO:</td>
    <td><%= @lote.data_inicio.strftime("%H:%M") if @lote.data_inicio %></td>
    <td>HORÁRIO TÉRMINO:</td>
    <td><%= @lote.data_termino.strftime("%H:%M") if @lote.data_termino %></td>
  </tr>  

  <tr class="controle-row">
    <td colspan="2" style="background-color:#00CC00;">CONTROLE FAST - ENTREGA GRANDE RIO</td>
    <td colspan="2" style="background-color:#C7C7C7;">CONTROLE FAST - ENTREGA RIO INTERIOR</td>
  </tr>

  <tr class="controle-row">
    <td>MOVIMENTO</td>
    <td>QUANTIDADE</td>
    <td>MOVIMENTO</td>
    <td>QUANTIDADE</td>
  </tr>

  <tr class="controle-row">
    <td>IMPLANTAÇÃO</td>
    <td style="width:250px;"></td>
    <td>IMPLANTAÇÃO</td>
    <td style="width:250px;"></td>
  </tr>

  <tr class="controle-row">
    <td>MOVIMENTAÇÃO</td>
    <td></td>
    <td>MOVIMENTAÇÃO</td>
    <td></td>
  </tr>

  <tr class="controle-row">
    <td>2ª VIA</td>
    <td></td>
    <td>2ª VIA</td>
    <td></td>
  </tr>
  
  <tr class="controle-row">
    <td colspan="2" style="background-color:#FFCC00;">CONTROLE CORREIO</td>
    <td colspan="2" style="background-color:#000000; color:#FFFFFF;">CONTROLE ORIENTADOR</td>
  </tr>

  <tr class="controle-row">
    <td>MOVIMENTO</td>
    <td>QUANTIDADE</td>
    <td>MOVIMENTO</td>
    <td>QUANTIDADE</td>
  </tr>
  
  <tr class="controle-row">
    <td>IMPLANTAÇÃO</td>
    <td></td>
    <td>IMPLANTAÇÃO</td>
    <td></td>
  </tr>

  <tr class="controle-row">
    <td>MOVIMENTAÇÃO</td>
    <td></td>
    <td>MOVIMENTAÇÃO</td>
    <td></td>
  </tr>

  <tr class="controle-row">
    <td>2ª VIA</td>
    <td></td>
    <td>2ª VIA</td>
    <td></td>
  </tr>

  <tr class="controle-row">
    <td style="border:none;"></td>
    <td style="border:none;"></td>
    <td>PCP</td>
    <td><%= @lote.funcionario.nome %></td>
  </tr>
</table>