<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @lote.codigo %>
</p>

<p>
  <strong>Operadora:</strong>
  <%= @lote.operadora %>
</p>

<p>
  <strong>Funcionario:</strong>
  <%= @lote.funcionario %>
</p>

<p>
  <strong>Quantidade cartoes:</strong>
  <%= @lote.quantidade_cartoes %>
</p>

<p>
  <strong>Quantidade kits:</strong>
  <%= @lote.quantidade_kits %>
</p>

<p>
  <strong>Data entrada:</strong>
  <%= @lote.data_entrada %>
</p>

<p>
  <strong>Data entrega:</strong>
  <%= @lote.data_entrega %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @lote.data_inicio %>
</p>

<p>
  <strong>Data termino:</strong>
  <%= @lote.data_termino %>
</p>

<p>
  <strong>Prioridade:</strong>
  <%= @lote.prioridade %>
</p>

<%= link_to 'Edit', edit_lote_path(@lote) %> |
<%= link_to 'Back', lotes_path %>
