<h2>Registrar</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :nome %><br />
  <%= f.text_field :nome, :autofocus => true %></div>

  <div><label for="funcionario_password">Senha</label><br />
  <%= f.password_field :password %></div>

  <div><label for="funcionario_password_confirmation">Confirme a senha:</label><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Registrar" %></div>
<% end %>

