<%= form_for(@requisicao) do |f| %>
  <% if @requisicao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requisicao.errors.count, "error") %> prohibited this requisicao from being saved:</h2>

      <ul>
      <% @requisicao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :produto_id %><br>
    <%= f.number_field :produto_id %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br>
    <%= f.number_field :quantidade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
