<h1>Lotes</h1>

<div class="navbar">
  <div class="navbar-inner">    
    <form class="navbar-search pull-left" action="/search/lotes/" method="get">      
      <input type="text" name="codigo" class="search-query" placeholder="Buscar...">      
    </form>                   
  </div>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Operadora</th>      
      <th>Colaborador</th>            
      <th>C</th>
      <th>K</th>      
    </tr>
  </thead>

  <tbody>
    <% @lotes.each do |lote| %>
      <tr class="<%= lote.estado_to_bootstrap %>">
        <td><%= link_to lote.codigo, "/relatorio/#{lote.id}.pdf", :target => "_blank" %></td>
        <td><%= link_to lote.operadora.nome, lote.operadora %></td>
        <td><%= link_to lote.encarregado.nome, lote.encarregado %></td>        
        <td><%= lote.quantidade_cartoes %></td>
        <td><%= lote.quantidade_kits %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @lotes %>
