<h1>Requisições</h1>

<div class="navbar">
  <div class="navbar-inner">    
    <form class="navbar-search pull-left" action="/search/requisicoes/" method="get">      
      <input type="text" name="codigo" class="search-query" placeholder="Buscar...">      
    </form>                   
  </div>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade Em Estoque</th>      
      <th>Quantidade Requisitada</th>      
      <th>Colaborador</th>            
      <th></th>            
    </tr>
  </thead>

  <tbody>
    <% @requisicoes.each do |requisicao| %>
      <tr class="<%= lote.estado_to_bootstrap %>">
        <td><%= link_to requisicao.produto.codigo, "/produtos/#{requisicao.produto.id}", :target => "_blank" %></td>
        <td><%= requisicao.produto.estoque_atual %></td>
        <td><%= requisicao.quantidade %></td>
        <td><%= link_to requisicao.lote.encarregado.nome, requisicao.lote.encarregado %></td>
        <td><%=  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @requisicoes %>
