<p id="notice"><%= notice %></p>

<p>
  <strong>Produto:</strong>
  <%= @requisicao.produto_id %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @requisicao.quantidade %>
</p>

<%= link_to 'Edit', edit_requisicao_path(@requisicao) %> |
<%= link_to 'Back', requisicoes_path %>
