<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>

<!-- Modal -->
<div id="myModal" style="width: 300px; left: 60%;" class="modal fade hide" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">    
    <h3 id="myModalLabel">Login</h3>
  </div>
  <div class="modal-body" style="text-align: center;">

  	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div><%= f.text_field :nome, :autofocus => true, :placeholder => "Nome" %></div>

	  <div><%= f.password_field :password, :placeholder => "Senha" %></div>	 		
    
  </div>
  <div class="modal-footer">    
    <%= f.submit "Entrar", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>


