<%= form_for(@produto) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% @produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :codigo_sericard %><br>
    <%= f.text_field :codigo_sericard %>
  </div>
  <div class="field">
    <%= f.label :orientador %><br>
    <%= f.text_field :orientador %>
  </div>
  <div class="field">
    <%= f.label :edicao %><br>
    <%= f.date_field :edicao %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.number_field :grade %>
  </div>
  <div class="field">
    <%= f.label :estoque_atual %><br>
    <%= f.number_field :estoque_atual %>
  </div>
  <div class="field">
    <%= f.label :enderecamento %><br>
    <%= f.text_field :enderecamento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
