<h1>Estoque - Busca por <%= @codigo %></h1>

<div class="navbar">
  <div class="navbar-inner">    
    <form class="navbar-search pull-left" action="/search/produtos/" method="get">      
      <input type="text" name="codigo" class="search-query" placeholder="Buscar...">      
    </form>                   
  </div>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Código</th>
      <th>Código sericard</th>
      <th>Orientador</th>
      <th>Edição</th>
      <th>Grade</th>
      <th>Estoque atual</th>      
      <th>Reposição</th>
      <th>Endereçamento</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>

      <!-- Modal Entrada -->
            <div id="modal-entrada-<%= produto.codigo %>" style="width: 300px; left: 60%;" class="modal fade hide" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>    
                <h3 id="myModalLabel">Entrada</h3>
              </div>
              
              <form class="navbar-search pull-left" action="/produtos/entrada/" method="get">

                  <div class="modal-body" style="text-align: center;">

                      <div><label for="codigo">Adicionar à <%= produto.codigo %> (Estoque atual: <%= produto.estoque_atual %>)</label></div>
                      <input type="hidden" name="codigo" value="<%= produto.codigo %>">
                      <div><input name="quantidade" type="text" class="search-query" placeholder="Quantidade"></div>

                  </div>
                  <div class="modal-footer"> 
                    <button type="submit" class="btn">Adicionar</button>   
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                  </div>

              </form>

            </div>
      <!-- Modal Entrada -->

      <!-- Modal Saida -->
            <div id="modal-saida-<%= produto.codigo %>" style="width: 300px; left: 60%;" class="modal fade hide" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>    
                <h3 id="myModalLabel">Saída</h3>
              </div>
              <form class="navbar-search pull-left" action="/produtos/saida/" method="get">

                  <div class="modal-body" style="text-align: center;">

                      <div><label for="codigo">Subtrair de <%= produto.codigo %> (Estoque atual: <%= produto.estoque_atual %>)</label></div>
                      <input type="hidden" name="codigo" value="<%= produto.codigo %>">
                      <div><input name="quantidade" type="text" class="search-query" placeholder="Quantidade"></div>

                  </div>
                  <div class="modal-footer"> 
                    <button type="submit" class="btn">Subtrair</button>   
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                  </div>

              </form>
            </div>
      <!-- Modal Saida -->

      <tr class="<%= produto.row_class %>">
        <td><a href="javascript:$('#modal-entrada-<%= produto.codigo %>').modal('show');"><i class="icon-plus-sign"></i></a></td>
        <td><a href="javascript:$('#modal-saida-<%= produto.codigo %>').modal('show');"><i class="icon-minus-sign"></i></a></td>
        <td><%= produto.codigo %></td>
        <td><%= produto.codigo_sericard %></td>
        <td><%= produto.orientador %></td>
        <td><%= produto.edicao.strftime("%m/%Y") %></td>
        <td><%= produto.grade %></td>
        <td><%= produto.estoque_atual %></td>
        <td><%= produto.reposicao %></td>      
        <td><%= produto.enderecamento %></td>         
        <td><%= link_to content_tag(:i, "", class: "icon-edit"), edit_produto_path(produto) %></td>
        <td><%= link_to content_tag(:i, "", class: "icon-trash"), produto, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @produtos %>


