<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @produto.codigo %>
</p>

<p>
  <strong>Codigo sericard:</strong>
  <%= @produto.codigo_sericard %>
</p>

<p>
  <strong>Orientador:</strong>
  <%= @produto.orientador %>
</p>

<p>
  <strong>Edicao:</strong>
  <%= @produto.edicao %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @produto.grade %>
</p>

<p>
  <strong>Estoque atual:</strong>
  <%= @produto.estoque_atual %>
</p>

<p>
  <strong>Reposicao:</strong>
  <%= @produto.reposicao %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
