<%= form_for(@operadora) do |f| %>
  <% if @operadora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operadora.errors.count, "error") %> prohibited this operadora from being saved:</h2>

      <ul>
      <% @operadora.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
