<h1>Operadoras</h1>

<table class="table table-hover table-condensed">

  <tbody>
    <% @operadoras.each do |operadora| %>
      <tr>        
        <td><%= link_to operadora.nome, operadora %></td>
        <td><%= link_to 'Editar', edit_operadora_path(operadora) %></td>
        <td><%= link_to 'Excluir', operadora, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<br>

<%= link_to 'Criar Operadora', new_operadora_path %>
