<h1>Lotes da operadora <%= @operadora.nome %></h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Operadora</th>      
      <th>Colaborador</th>      
      <th>Cadastro</th>
      <th>C</th>
      <th>K</th>
      <th>Entrada</th>
      <th>Entrega</th>
      <th>Início</th>
      <th>Término</th>
      <th><i class="icon-exclamation-sign"></i></th>       
    </tr>
  </thead>

  <tbody>
    <% @lotes.each do |lote| %>
      <tr class="<%= lote.estado_to_bootstrap %>">
        <td><%= link_to lote.codigo, "/relatorio/#{lote.id}.pdf", :target => "_blank" %></td>
        <td><%= link_to lote.operadora.nome, lote.operadora %></td>
        <td><%= link_to lote.encarregado.nome, lote.encarregado %></td>
        <td><%= link_to lote.funcionario.nome, lote.funcionario %></td>        
        <td><%= lote.quantidade_cartoes %></td>
        <td><%= lote.quantidade_kits %></td>
        <td><%= lote.data_entrada.strftime("%d/%m/%y") if lote.data_entrada %></td>
        <td><%= lote.data_entrega.strftime("%d/%m/%y") if lote.data_entrega %></td>
        <td><%= lote.data_inicio.strftime("%d/%m/%y") if lote.data_inicio %></td>
        <td><%= lote.data_termino.strftime("%d/%m/%y") if lote.data_termino %></td>
        <td><%= lote.prioridade ? "Sim" : "Não" %></td>
        <td><%= link_to content_tag(:i, "", class: "icon-edit"), edit_lote_path(lote) %></td>
        <td><%= link_to content_tag(:i, "", class: "icon-trash"), lote, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @lotes %>