<%= form_for(@funcionario) do |f| %>
  <% if @funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% @funcionario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, :autofocus => true %>
  </div>

  <div><label for="funcionario_password">Senha</label><br />
  <%= f.password_field :password %></div>

  <div><label for="funcionario_password_confirmation">Confirme a senha:</label><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
